<app-header></app-header>
<div class="container">
  <div class="row justify-content-center">
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center p-0 mt-3 mb-2"
    >
      <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
        <h2 id="heading">Track and Trace</h2>
        <form id="msform">
          <!-- progressbar -->
          <ul id="progressbar">
            <li class="active" id="account">
              <strong>Chasis Scan</strong>
            </li>
            <li id="personal" [ngClass]="formStep >= 2 ? 'active' : ''">
              <strong>Motar Label Scan</strong>
            </li>
            <li id="payment" [ngClass]="formStep >= 3 ? 'active' : ''">
              <strong>PCB Scan</strong>
            </li>
            <li id="confirm" [ngClass]="formStep >= 4 ? 'active' : ''">
              <strong>Evaprorator Scan</strong>
            </li>
            <li id="confirm" [ngClass]="formStep >= 5 ? 'active' : ''">
              <strong>Accessories Print/Scan</strong>
            </li>
            <li id="confirm" [ngClass]="formStep >= 6 ? 'active' : ''">
              <strong>Box Packaging</strong>
            </li>
          </ul>

          <br />
          <!-- fieldsets -->
          <div class="form-card">
            <div class="row"></div>
          </div>

          <fieldset *ngIf="formStep === 1">
            <div class="scanner">
              <ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>
            </div>

            <select
              #select1
              (change)="action.playDevice(select1.value)"
              class="form-select form-select-sm d-none"
            >
              <option [value]="null" selected>Select device</option>
              <option
                *ngFor="let c of action.devices.value; let i = index"
                [value]="c.deviceId"
                [selected]="i == action.deviceIndexActive"
              >
                {{ c.label }}
              </option>
            </select>
            <select
              #select2
              (change)="action.decode = select2.value"
              class="form-select form-select-sm d-none"
            >
              <option value="utf-8" [selected]="action.decode == 'utf-8'">
                UTF-8
              </option>
              <option
                value="iso-8859-15"
                [selected]="action.decode == 'iso-8859-15'"
              >
                ISO-8859-15
              </option>
              <option
                value="windows-1252"
                [selected]="action.decode == 'windows-1252'"
              >
                Windows-1252
              </option>
              <option
                value="macintosh"
                [selected]="action.decode == 'macintosh'"
              >
                Macintosh
              </option>
            </select>

            <!-- data  -->
            <!-- value -->

            <!-- Loading -->

            <!-- start -->
            <button
              type="button"
              class="next action-button"
              (click)="handle(action, action.isStart ? 'stop' : 'start')"
            >
              {{ action.isStart ? "Stop" : "Start" }}
            </button>
            <div class="scanData">
              <p>
                Chasiss Number : <span>{{ action.data.value[0]?.value }}</span>
              </p>
              <p>Status : Valid/Invalid</p>
            </div>
            <div class="form-card">
              <div class="row"></div>
            </div>
            <input
              type="button"
              name="next"
              class="next action-button"
              value="Next"
              (click)="formStepper()"
            />
          </fieldset>
          <fieldset *ngIf="formStep === 2">
            <div class="form-card">
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Scan Motar Label</h2>
                </div>
              </div>
              <div class="scanData">
                <div class="scanner">
                  <ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>
                </div>

                <select
                  #select1
                  (change)="action.playDevice(select1.value)"
                  class="form-select form-select-sm d-none"
                >
                  <option [value]="null" selected>Select device</option>
                  <option
                    *ngFor="let c of action.devices.value; let i = index"
                    [value]="c.deviceId"
                    [selected]="i == action.deviceIndexActive"
                  >
                    {{ c.label }}
                  </option>
                </select>
                <select
                  #select2
                  (change)="action.decode = select2.value"
                  class="form-select form-select-sm d-none"
                >
                  <option value="utf-8" [selected]="action.decode == 'utf-8'">
                    UTF-8
                  </option>
                  <option
                    value="iso-8859-15"
                    [selected]="action.decode == 'iso-8859-15'"
                  >
                    ISO-8859-15
                  </option>
                  <option
                    value="windows-1252"
                    [selected]="action.decode == 'windows-1252'"
                  >
                    Windows-1252
                  </option>
                  <option
                    value="macintosh"
                    [selected]="action.decode == 'macintosh'"
                  >
                    Macintosh
                  </option>
                </select>

                <!-- data  -->
                <!-- value -->
                <span>{{ action.data.value[0]?.value }}</span>
                <!-- Loading -->
                <p *ngIf="action.isLoading">⌛ Loading...</p>

                <!-- start -->
                <button
                  class="next action-button"
                  type="button"
                  (click)="handle(action, action.isStart ? 'stop' : 'start')"
                >
                  {{ action.isStart ? "Stop" : "Start" }}
                </button>
                <p>
                  Motor Number : <span>{{ action.data.value[0]?.value }}</span>
                </p>
                <p>Status : Valid/Invalid</p>
              </div>
            </div>
            <input
              type="button"
              name="next"
              class="next action-button"
              value="Next"
              (click)="formStepper()"
            />
            <input
              type="button"
              name="previous"
              class="previous action-button-previous"
              value="Previous"
              (click)="formStepperDown()"
            />
          </fieldset>
          <fieldset *ngIf="formStep === 3">
            <div class="scanner">
              <ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>
            </div>

            <select
              #select1
              (change)="action.playDevice(select1.value)"
              class="form-select form-select-sm d-none"
            >
              <option [value]="null" selected>Select device</option>
              <option
                *ngFor="let c of action.devices.value; let i = index"
                [value]="c.deviceId"
                [selected]="i == action.deviceIndexActive"
              >
                {{ c.label }}
              </option>
            </select>
            <select
              #select2
              (change)="action.decode = select2.value"
              class="form-select form-select-sm d-none"
            >
              <option value="utf-8" [selected]="action.decode == 'utf-8'">
                UTF-8
              </option>
              <option
                value="iso-8859-15"
                [selected]="action.decode == 'iso-8859-15'"
              >
                ISO-8859-15
              </option>
              <option
                value="windows-1252"
                [selected]="action.decode == 'windows-1252'"
              >
                Windows-1252
              </option>
              <option
                value="macintosh"
                [selected]="action.decode == 'macintosh'"
              >
                Macintosh
              </option>
            </select>

            <!-- data  -->
            <!-- value -->

            <!-- Loading -->
            <p *ngIf="action.isLoading">⌛ Loading...</p>

            <!-- start -->
            <button
              type="button"
              class="next action-button"
              (click)="handle(action, action.isStart ? 'stop' : 'start')"
            >
              {{ action.isStart ? "Stop" : "Start" }}
            </button>
            <div class="form-card">
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">PCB Scan</h2>
                </div>
              </div>
              <div class="scanData">
                <p>
                  PCB Number : <span>{{ action.data.value[0]?.value }}</span>
                </p>
                <p>Status : Valid/Invalid</p>
              </div>
            </div>
            <input
              type="button"
              name="next"
              class="next action-button"
              value="Submit"
              (click)="formStepper()"
            />
            <input
              type="button"
              name="previous"
              class="previous action-button-previous"
              value="Previous"
              (click)="formStepperDown()"
            />
          </fieldset>
          <fieldset *ngIf="formStep === 4">
            <div class="scanner">
              <ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>
            </div>

            <select
              #select1
              (change)="action.playDevice(select1.value)"
              class="form-select form-select-sm d-none"
            >
              <option [value]="null" selected>Select device</option>
              <option
                *ngFor="let c of action.devices.value; let i = index"
                [value]="c.deviceId"
                [selected]="i == action.deviceIndexActive"
              >
                {{ c.label }}
              </option>
            </select>
            <select
              #select2
              (change)="action.decode = select2.value"
              class="form-select form-select-sm d-none"
            >
              <option value="utf-8" [selected]="action.decode == 'utf-8'">
                UTF-8
              </option>
              <option
                value="iso-8859-15"
                [selected]="action.decode == 'iso-8859-15'"
              >
                ISO-8859-15
              </option>
              <option
                value="windows-1252"
                [selected]="action.decode == 'windows-1252'"
              >
                Windows-1252
              </option>
              <option
                value="macintosh"
                [selected]="action.decode == 'macintosh'"
              >
                Macintosh
              </option>
            </select>

            <!-- data  -->
            <!-- value -->

            <!-- Loading -->
            <p *ngIf="action.isLoading">⌛ Loading...</p>

            <!-- start -->
            <button
              type="button"
              class="next action-button"
              (click)="handle(action, action.isStart ? 'stop' : 'start')"
            >
              {{ action.isStart ? "Stop" : "Start" }}
            </button>
            <div class="form-card">
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Evaprorator Scan</h2>
                </div>
                <div class="scanData">
                  <p>
                    Evaprorator Number :
                    <span>{{ action.data.value[0]?.value }}</span>
                  </p>
                  <p>Status : Valid/Invalid</p>
                </div>
              </div>
            </div>
            <input
              type="button"
              name="next"
              class="next action-button"
              value="Submit"
              (click)="formStepper()"
            />
            <input
              type="button"
              name="previous"
              class="previous action-button-previous"
              value="Previous"
              (click)="formStepperDown()"
            />
          </fieldset>
          <fieldset *ngIf="formStep === 5">
            <div class="scanner">
              <ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>
            </div>

            <select
              #select1
              (change)="action.playDevice(select1.value)"
              class="form-select form-select-sm d-none"
            >
              <option [value]="null" selected>Select device</option>
              <option
                *ngFor="let c of action.devices.value; let i = index"
                [value]="c.deviceId"
                [selected]="i == action.deviceIndexActive"
              >
                {{ c.label }}
              </option>
            </select>
            <select
              #select2
              (change)="action.decode = select2.value"
              class="form-select form-select-sm d-none"
            >
              <option value="utf-8" [selected]="action.decode == 'utf-8'">
                UTF-8
              </option>
              <option
                value="iso-8859-15"
                [selected]="action.decode == 'iso-8859-15'"
              >
                ISO-8859-15
              </option>
              <option
                value="windows-1252"
                [selected]="action.decode == 'windows-1252'"
              >
                Windows-1252
              </option>
              <option
                value="macintosh"
                [selected]="action.decode == 'macintosh'"
              >
                Macintosh
              </option>
            </select>

            <!-- data  -->
            <!-- value -->

            <!-- Loading -->
            <p *ngIf="action.isLoading">⌛ Loading...</p>

            <!-- start -->
            <button
              type="button"
              class="next action-button"
              (click)="handle(action, action.isStart ? 'stop' : 'start')"
            >
              {{ action.isStart ? "Stop" : "Start" }}
            </button>
            <div class="form-card">
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Accessories Print/Scan</h2>
                </div>
                <div class="scanData">
                  <p>
                    Accessories Number :
                    <span>{{ action.data.value[0]?.value }}</span>
                  </p>
                  <p>Status : Valid/Invalid</p>
                </div>
              </div>
            </div>
            <input
              type="button"
              name="next"
              class="next action-button"
              value="Submit"
              (click)="formStepper()"
            />
            <input
              type="button"
              name="previous"
              class="previous action-button-previous"
              value="Previous"
              (click)="formStepperDown()"
            />
          </fieldset>
          <fieldset *ngIf="formStep === 6">
            <div class="scanner">
              <ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>
            </div>

            <select
              #select1
              (change)="action.playDevice(select1.value)"
              class="form-select form-select-sm d-none"
            >
              <option [value]="null" selected>Select device</option>
              <option
                *ngFor="let c of action.devices.value; let i = index"
                [value]="c.deviceId"
                [selected]="i == action.deviceIndexActive"
              >
                {{ c.label }}
              </option>
            </select>
            <select
              #select2
              (change)="action.decode = select2.value"
              class="form-select form-select-sm d-none"
            >
              <option value="utf-8" [selected]="action.decode == 'utf-8'">
                UTF-8
              </option>
              <option
                value="iso-8859-15"
                [selected]="action.decode == 'iso-8859-15'"
              >
                ISO-8859-15
              </option>
              <option
                value="windows-1252"
                [selected]="action.decode == 'windows-1252'"
              >
                Windows-1252
              </option>
              <option
                value="macintosh"
                [selected]="action.decode == 'macintosh'"
              >
                Macintosh
              </option>
            </select>

            <!-- data  -->
            <!-- value -->

            <!-- Loading -->
            <p *ngIf="action.isLoading">⌛ Loading...</p>

            <!-- start -->
            <button
              type="button"
              class="next action-button"
              (click)="handle(action, action.isStart ? 'stop' : 'start')"
            >
              {{ action.isStart ? "Stop" : "Start" }}
            </button>
            <div class="form-card">
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Box Packaging</h2>
                </div>
                <div class="scanData">
                  <p>
                    Box Number : <span>{{ action.data.value[0]?.value }}</span>
                  </p>
                  {{ valuearr }}
                  <p>Status : Valid/Invalid</p>
                </div>
              </div>
            </div>
            <input
              type="button"
              name="next"
              class="next action-button"
              value="Submit"
            />
            <input
              type="button"
              name="previous"
              class="previous action-button-previous"
              value="Previous"
              (click)="formStepperDown()"
            />
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
