<app-header></app-header>
<div class="container">
  <div class="row justify-content-center">
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center p-0 mt-3 mb-2"
    >
      <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
        <h2 id="heading">Track and Trace</h2>
        <form id="msform">
          <!-- progressbar -->
          <ul id="progressbar">
            <li class="active" id="account">
              <strong>Chasis Scan</strong>
            </li>
            <li id="personal" [ngClass]="formStep >= 2 ? 'active' : ''">
              <strong>Motar Label Scan</strong>
            </li>
            <li id="payment" [ngClass]="formStep >= 3 ? 'active' : ''">
              <strong>PCB Scan</strong>
            </li>
            <li id="confirm" [ngClass]="formStep >= 4 ? 'active' : ''">
              <strong>Evaprorator Scan</strong>
            </li>
            <li id="confirm" [ngClass]="formStep >= 5 ? 'active' : ''">
              <strong>Accessories Print/Scan</strong>
            </li>
            <li id="confirm" [ngClass]="formStep >= 6 ? 'active' : ''">
              <strong>Box Packaging</strong>
            </li>
          </ul>

          <br />
          <!-- fieldsets -->
          <!-- <div class="form-card">
            <div class="row"></div>
          </div> -->
          <fieldset *ngIf="formStep === 1">
            <div class="container p-0">
              <div class="row">
                <div class="col-md-6 position-relative">
                  <app-scanner
                    (devicealert)="getDevice($event)"
                    (newItemEvent)="addItem($event)"
                  ></app-scanner>
                  <div
                    *ngIf="!isDevice"
                    class="alert alert-danger error-message"
                  >
                    No device found !!
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="scanData text-start">
                    <h3 class="m-0 text-center">Scan Results</h3>
                    <p>
                      Chasiss Number : <span>{{ scannedValue }}</span>
                    </p>
                    <p>
                      Status : Valid/Invalid
                      <span *ngIf="status == 'valid'" class="text-success">
                        Verified
                      </span>
                      <span *ngIf="status == 'invalid'" class="text-danger">
                        unVerified
                      </span>
                    </p>
                  </div>
                  <input
                    [disabled]="status == 'invalid' || status == ''"
                    type="button"
                    name="Proceed"
                    class="btn btn-primary min-width mt-3"
                    value="Proceed"
                    (click)="formStepper()"
                  />
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset *ngIf="formStep === 2">
            <div class="container p-0">
              <div class="row">
                <div class="col-md-6 position-relative">
                  <app-scanner
                    (devicealert)="getDevice($event)"
                    (newItemEvent)="addItem($event)"
                  ></app-scanner>
                  <div
                    *ngIf="!isDevice"
                    class="alert alert-danger error-message"
                  >
                    No device found !!
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="scanData text-start">
                    <h3 class="m-0 text-center">Scan Results</h3>
                    <p>
                      Chasiss Number : <span>{{ scannedValue }}</span>
                    </p>
                    <p>Status : Valid/Invalid</p>
                  </div>
                  <input
                    [disabled]="status == 'invalid' || status == ''"
                    type="button"
                    name="Proceed"
                    class="btn btn-primary min-width mt-3"
                    value="Proceed"
                    (click)="formStepper()"
                  />
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset *ngIf="formStep === 3">
            <div class="container p-0">
              <div class="row">
                <div class="col-md-6 position-relative">
                  <app-scanner
                    (devicealert)="getDevice($event)"
                    (newItemEvent)="addItem($event)"
                  ></app-scanner>
                  <div
                    *ngIf="!isDevice"
                    class="alert alert-danger error-message"
                  >
                    No device found !!
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="scanData text-start">
                    <h3 class="m-0 text-center">Scan Results</h3>
                    <p>
                      Chasiss Number : <span>{{ scannedValue }}</span>
                    </p>
                    <p>Status : Valid/Invalid</p>
                  </div>
                  <input
                    [disabled]="status == 'invalid' || status == ''"
                    type="button"
                    name="Proceed"
                    class="btn btn-primary min-width mt-3"
                    value="Proceed"
                    (click)="formStepper()"
                  />
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset *ngIf="formStep === 4">
            <div class="container p-0">
              <div class="row">
                <div class="col-md-6 position-relative">
                  <app-scanner
                    (devicealert)="getDevice($event)"
                    (newItemEvent)="addItem($event)"
                  ></app-scanner>
                  <div
                    *ngIf="!isDevice"
                    class="alert alert-danger error-message"
                  >
                    No device found !!
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="scanData text-start">
                    <h3 class="m-0 text-center">Scan Results</h3>
                    <p>
                      Chasiss Number : <span>{{ scannedValue }}</span>
                    </p>
                    <p>Status : Valid/Invalid</p>
                  </div>
                  <input
                    [disabled]="status == 'invalid' || status == ''"
                    type="button"
                    name="Proceed"
                    class="btn btn-primary min-width mt-3"
                    value="Proceed"
                    (click)="formStepper()"
                  />
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset *ngIf="formStep === 5">
            <div class="container p-0">
              <div class="row">
                <div class="col-md-6 position-relative">
                  <app-scanner
                    (devicealert)="getDevice($event)"
                    (newItemEvent)="addItem($event)"
                  ></app-scanner>
                  <div
                    *ngIf="!isDevice"
                    class="alert alert-danger error-message"
                  >
                    No device found !!
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="scanData text-start">
                    <h3 class="m-0 text-center">Scan Results</h3>
                    <p>
                      Chasiss Number : <span>{{ scannedValue }}</span>
                    </p>
                    <p>Status : Valid/Invalid</p>
                  </div>
                  <input
                    [disabled]="status == 'invalid' || status == ''"
                    type="button"
                    name="Proceed"
                    class="btn btn-primary min-width mt-3"
                    value="Proceed"
                    (click)="formStepper()"
                  />
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset *ngIf="formStep === 6">
            <div class="container p-0">
              <div class="row">
                <div class="col-md-6 position-relative">
                  <app-scanner
                    (devicealert)="getDevice($event)"
                    (newItemEvent)="addItem($event)"
                  ></app-scanner>
                  <div
                    *ngIf="!isDevice"
                    class="alert alert-danger error-message"
                  >
                    No device found !!
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="scanData text-start">
                    <h3 class="m-0 text-center">Scan Results</h3>
                    <p>
                      Chasiss Number : <span>{{ scannedValue }}</span>
                    </p>
                    <p>Status : Valid/Invalid</p>
                  </div>
                  <input
                    [disabled]="status == 'invalid' || status == ''"
                    type="button"
                    name="Proceed"
                    class="btn btn-primary min-width mt-3"
                    value="Proceed"
                    (click)="formStepper()"
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
