<main class="h-100">
  <app-header></app-header>
  <div class="container h-100">
    <ng-toast></ng-toast>
    <!-- <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3 mb-2 p-0">
      <button class="btn-prev">Previos</button>
    </div>
  </div> -->
    <div class="row justify-content-center">
      <input
        *ngIf="productSelected"
        [value]="inputVal"
        type="text"
        id="barcodeInput"
        style="color: #fff; border: 1px solid white"
        autofocus="{{ autofocus }}"
        (change)="test($event)"
      />
      <!-- <h2 id="heading" class="text-center">Track and Trace</h2> -->
      <div class="user-detail p-0">
        <div class="back-btn my-3" (click)="changeScreen()">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </div>
        <h5 class="mb-0">
          Hello, <b>{{ operatorName }}</b>
        </h5>
        <small> {{ operatorMail }} </small>
      </div>
      <div
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center p-0 mb-2"
      >
        <div class="card px-0 pb-0 mb-3">
          <form id="msform">
            <div class="barcode" style="text-align: center"></div>
            <!-- progressbar -->

            <div *ngIf="!productSelected">
              <select class="slect-box-input" (change)="productChange($event)">
                <option value="">Select product --</option>
                <option
                  *ngFor="let item of assignedProductList"
                  [value]="item.uid"
                  [id]="item.name"
                >
                  {{ item.name }}
                </option>
              </select>

              <select
                class="slect-box-input mt-5"
                (change)="modalChange($event)"
                *ngIf="modelNumberShow"
              >
                <option value="">Select Model --</option>
                <option
                  *ngFor="let item of assignedProductList"
                  [value]="item.uid"
                  [id]="item.name"
                >
                  {{ item.modelNumber }}
                </option>
              </select>
            </div>
            <h3 style="color: #453e3e" *ngIf="productSelected">
              Selected Product : {{ selectedProduct }}
            </h3>

            <ul id="progressbar" *ngIf="productSelected">
              <span *ngFor="let item of compArr; index as i">
                <li
                  [ngClass]="
                    item?.is_rework == true
                      ? 'rework'
                      : item?.is_active == true
                      ? ' nextScan'
                      : orderid == i + 1
                      ? ''
                      : ''
                  "
                  id="account"
                >
                  <strong>{{ item["name"] }} Scan</strong>
                  <span style="font-size: 20px" class="count-number"
                    >({{ item?.count_scanning }})</span
                  >
                </li>
              </span>
            </ul>
            <br />
            <fieldset *ngIf="!showHashedQR && productSelected">
              <div class="container p-0">
                <div class="row justify-content-center">
                  <div class="col-md-6">
                    <div class="scanData text-start">
                      <h3 class="m-0 text-center">
                        Scan Results
                        <span *ngIf="skipable">
                          <button
                            class="skip-btn"
                            type="button"
                            (click)="skipStep('click')"
                          >
                            Skip
                          </button></span
                        >
                      </h3>
                      <p>
                        Scan Result : <span>{{ scannedValue }}</span>
                      </p>
                      <p *ngIf="orderid != 1">
                        Status :
                        <span
                          *ngIf="status == 'valid'"
                          class="text-success status"
                        >
                          <i class="ri-check-fill"></i>
                        </span>
                        <span
                          *ngIf="status == 'invalid'"
                          class="text-danger status"
                        >
                          <i class="ri-close-fill"></i>
                        </span>
                      </p>
                      <p *ngIf="chassisValue">
                        Chassis Number : <span>{{ chassisValue }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>

            <img
              *ngIf="loading"
              src="https://cdn.dribbble.com/users/3337757/screenshots/6825268/076_-loading_animated_dribbble_copy.gif"
              height="200"
              width="200"
              style="object-fit: contain"
            />
            <div *ngIf="showHashedQR">
              <div class="alert alert-success" *ngIf="success">
                {{ success }}
              </div>
              <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
              <p>Packaging QR code.</p>
              <div class="print-container">
                <qr-code
                  (click)="print()"
                  [value]="qrValue"
                  size="300"
                ></qr-code>
              </div>
              <p class="">{{ qrValue }}</p>
              <input
                class="btn btn-primary min-width mt-3"
                (click)="submitPackage()"
                *ngIf="!issubmitted"
                value="Submit"
                name="Proceed"
                type="button"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</main>
