<div class="scanner">
  <ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>
</div>

<select
  #select1
  (change)="action.playDevice(select1.value)"
  class="form-select form-select-sm d-none"
>
  <option [value]="null" selected>Select device</option>
  <option
    *ngFor="let c of action.devices.value; let i = index"
    [value]="c.deviceId"
    [selected]="i == action.deviceIndexActive"
  >
    {{ c.label }}
  </option>
</select>
<select
  #select2
  (change)="action.decode = select2.value"
  class="form-select form-select-sm d-none"
>
  <option value="utf-8" [selected]="action.decode == 'utf-8'">UTF-8</option>
  <option value="iso-8859-15" [selected]="action.decode == 'iso-8859-15'">
    ISO-8859-15
  </option>
  <option value="windows-1252" [selected]="action.decode == 'windows-1252'">
    Windows-1252
  </option>
  <option value="macintosh" [selected]="action.decode == 'macintosh'">
    Macintosh
  </option>
</select>

<!-- data  -->
<!-- value -->

<!-- Loading -->

<!-- start -->
<div class="bottom-btn-next">
  <input
    type="button"
    name="previous"
    class="btn btn-primary w-auto"
    value="{{ action.isStart ? 'Stop' : 'Start' }}"
    (click)="handle(action, action.isStart ? 'Stop' : 'Start')"
  />
</div>
<!-- <button
    type="button"
    class="next action-button"
    (click)="handle(action, action.isStart ? 'stop' : 'start')"
  >
    {{ action.isStart ? "Stop" : "Start" }}
  </button> -->
